<% if(object && object.errors.size >0) %>
<div id = "errorExplanation">
	<h2><%= pluralize(object.errors.size, "error") %> ne rok diya ise chalne se </h2>
	<p> Bhai in jagah ko check kar error zarur milega nahi toh chal main bata deta hun: </p>
	<ul>
	<% object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<% end %>	
