<% @page_title = "Edit Admin" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="admin edit">
  <h2>Edit Admin</h2>

  <%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Edit Admin") %>
    </div>
    
  <% end %>
</div>
