
<div id="templatemo_main_top"></div>
<div id="templatemo_main">
    <div class="fp_box5">
        <img src="images/applications.png" alt="Image 01" />
        <h2><a href="#">Web Design</a></h2>
        <p>Simple website design. What you see is what you get.</p>
    </div>
    <div class="fp_box5">
        <img src="images/desktop_aurora_borealis.png" alt="Image 02" />
        <h2><a href="#">Multimedia</a></h2>
        <p>Drag and drop upload multimedia and files.</p>
    </div>
    <div class="fp_box5">
        <img src="images/invoice.png" alt="Image 03" />
        <h2><a href="#"> Support</a></h2>
        <p>24/7 Customer Care Support.</p>
    </div>
    <div class="fp_box5">
        <img src="images/preferences.png" alt="Image 04" />
        <h2><a href="#">Skills</a></h2>
        <p>Anyone with basic computer knowledge can use this.</p>
    </div>
    <div class="fp_box5 no_margin_right">
        <img src="images/presentation.png" alt="Image 05" />
        <h2><a href="#">Marketing</a></h2>
        <p>Provide your business an online presence.</p>
    </div>
    <div class="cleaner h50"></div>
    <div class="col_12 float_l">
    	<h2>Welcome To SubCMS</h2>
        <img src="images/templatemo_image_01.jpg" alt="Image 01" class="float_l img_float_l" />
        <p><em>SubCMS also known as Sublime CMS is a content management system for easy drag and drop development of the website.</em></p>
       
    </div>
    <div class="col_12 float_r">
    	<h2>Web Technologies</h2>
        <img src="images/templatemo_image_02.jpg" alt="Image 02" class="float_l img_float_l" />
        <p><em>A dozen of technologies has been integrated in SubCMS. It uses Ruby, Rails, Javascripts, CSS, PHP to make it highly secure.</em></p>	
    </div>
    